.todoList
	width 70%
	margin 0 auto

	.button
		font-size 5px !important

		&--add
			width 10px !important

.todoList__item
	display flex
	border-bottom 1px solid grey
	justify-content space-between

.content
	font-size 24px
